{% extends 'portfolio/base.html.twig' %}

{% block body %}
<div class="d-flex flex-column flex-lg-row justify-content-center align-items-center vh-100 overflow-hidden">
    <div class="d-flex flex-column mt-lg-5">
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFP1S9VcF21KA/profile-displayphoto-shrink_400_400/0?e=1600905600&v=beta&t=KMLN-2JyYw6qCxX5ghPVX6tuZZXbu93a5TX_omyaxA0" alt="" class="img-profile mt-4"/>
        <a class="btn btn-wild mt-lg-5 d-none d-lg-block" href="mailto:{{ admin.email }}">Me contacter</a>
    </div>
    <div class="ml-lg-5 mt-3 mt-lg-0">
        <h1 class="d-none d-md-block">bonjour !<br>je suis <span class="name">{{ admin.forename }}</span> <span class="name">{{ admin.surname }}</span>,<br>{{ admin.job | lower }}.</h1>
        <p class="font-mali small-caps d-md-none">bonjour !<br>je suis <span class="name">{{ admin.forename }}</span> <span class="name">{{ admin.surname }}</span>,<br>{{ admin.job | lower }}.</p>
        <p class="font-weight-bold">PHP | Symfony | JavaScript | React</p>
    </div>
    <a class="btn btn-wild mt-3 d-lg-none" href="mailto:{{ admin.email }}">Me contacter</a>
</div>
{% endblock %}
