{% extends 'portfolio/base.html.twig' %}

{% block title 'Mes projets' %}

{% block body %}
    <div class="container-fluid d-flex flex-wrap justify-content-center align-items-center vh-100 overflow-scroll">
        {% for project in projects %}
            <div class="project-card m-sm-3">
                <img src="{{ vich_uploader_asset(project, 'imageFile') }}" alt="...">
                <div>
                    <h4>{{ project.title }}</h4>
                    <p>{{ project.description }}</p>
                    {% if project.isWebsite %}
                        <a class="btn btn-wild" href="{{ project.url }}" target="_blank">Voir le site</a>
                    {% elseif project.isVideo %}
                        <a class="btn btn-wild" href="{{ project.url }}" target="_blank">Voir la vidéo</a>
                    {% else %}

                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
