{% extends('admin/base.html.twig') %}

{% block title %}{{ 'nouveau' in app.request.pathInfo ? 'Nouvelle' : 'Editer' }} évènement{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="col-12">
            <h2 class="text-center">{{ 'nouveau' in app.request.pathInfo ? 'Nouvelle' : 'Editer' }} évènement</h2>
            {{ form_start(form) }}
                {{ form_row(form.title) }}
                {{ form_row(form.label) }}
                {{ form_row(form.description) }}
                <div class="row justify-content-around">
                    {{ form_row(form.startDate) }}
                    {{ form_row(form.endDate) }}
                </div>
                <div class="row justify-content-around">
                    {{ form_row(form.noDay) }}
                    {{ form_row(form.noMonth) }}
                </div>
                <div class="d-flex justify-content-end">
                    <a class="btn btn-wild" href="{{ path('timeline_list') }}">Retour</a>
                    <button class="btn btn-wild ml-2">Ajouter</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
