{% extends('base.html.twig') %}

{% block title 'Liste des compétences' %}

{% block body %}
    <div class="container mt-5">
        <div class="d-flex justify-content-between">
            <a class="btn btn-wild" href="{{ path('admin_panel') }}">Retour au dashboard</a>
            <a class="btn btn-wild" href="{{ path('skill_new') }}">Nouvelle compétence</a>
        </div>
        <h2 class="text-center">Liste des compétences</h2>
            <div class="d-flex justify-content-center align-items-center mt-1">
            <table class="table table-dark table-striped table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col" class="text-center">Nom</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for skill in skills %}
                    <tr>
                        <th scope="row" class="text-center"><img class="icon-admin mr-3" src="{{ vich_uploader_asset(skill, 'iconFile') }}" alt="Icône de {{ skill.name }}"> {{ skill.name }}</th>
                        <td>
                            <div class="d-flex justify-content-center align-items-center">
                                <a class="btn btn-wild" href="{{ path('skill_edit', {'id': skill.id}) }}"><i class="fas fa-edit"></i></a>
                                <form method="post" action="{{ path('skill_delete', {'id': skill.id}) }}"
                                      onsubmit="return confirm('Voulez-vous vraiment supprimer ce projet?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ skill.id) }}">
                                    <button class="btn btn-wild"><i class="far fa-trash-alt"></i></button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
